{# Luxe Theme - Newsletter Section #}
<section class="newsletter-section">
  <div class="container-luxe">
    <div class="newsletter-inner">
      <div class="newsletter-content">
        <h2 class="newsletter-title">اشترك في نشرتنا البريدية</h2>
        <p class="newsletter-text">كن اول من يعرف عن العروض والمنتجات الجديدة</p>
      </div>
      <div class="newsletter-form-wrapper">
        <salla-newsletter></salla-newsletter>
      </div>
    </div>
  </div>
</section>